{% extends "base_generic.html" %}

{% block tittle %} <title>AnimeStore - About Us</title> {% endblock %}

{% load static %}


{% block content %}
<div class="container"></div>
<section class="row w-100 vh-100 bg-dark" id="features">
  <div class="col-lg-6 col-img"></div>
  <div class="col-lg-6">
    <div class="container">
      <div class="row">
        <div class="col-md-10 vh-100 offset-md-1" id="textFeatures">
          <h5 class="text-white" id="servTittle">Our Objetive</h5>
          <h1 class="text-white" id="subsTittle">The Best Products</h1>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Impedit, nostrum laborum beatae cum aliquam alias ut culpa
            ratione necessitatibus mollitia, optio quas obcaecati earum
            debitis voluptatum ea nobis? Iure, pariatur?
          </p>

          <!-- Feature 1 -- -->
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class="fa-solid fa-chart-line text-white"></i>
            </div>
            <div class="text-white">
              <h5 class="mt-2">Full Quality</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, amet harum fugiat qui sed impedit, aperiam repudiandae alias esse dicta enim </p>
            </div>
          </div>

          <!-- Feature 2  -->
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class="fa-solid fa-gamepad text-white"></i>
            </div>
            <div class="text-white">
              <h5 class="mt-2">Fast Shipping</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatem, a! Modi ad aliquid cum tenetur.
              </p>
            </div>
          </div>

          <!-- Feature 3  -->
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class="fa-solid fa-table-columns text-white"></i>
            </div>
            <div class="text-white">
              <h5 class="mt-2">Trust</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatem, a! Modi ad aliquid cum tenetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

  </body>
</html>
